.vscode

data/*
!data/.gitkeep

!data/xero/
data/xero/*
!data/xero/.gitkeep

!data/xero/geth/
data/xero/geth/*
!data/xero/geth/.gitkeep

.icc/ip-map/*
.icc/xero/*
!.icc/ip-map/.gitkeep
!.icc/xero/.gitkeep

docs